 
node_modules/

 
dist/
build/
.next/
out/
storybook-static/

 
.cache/
.parcel-cache/
.vite/
.eslintcache
.stylelintcache
.npm/
.pnp.*        # Yarn PnP
.nyc_output/
coverage/

 
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/
 
.env
.env.*.local
*.pem
*.key

 
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
 
*.tsbuildinfo

 
tmp/
temp/
