Options -MultiViews
RewriteEngine On
RewriteBase /

# Send everything that isn't a real file or directory to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
