.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.enlarged-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    color: red;
}

.thumbnail {
    max-width: 200px;
 
    cursor: pointer;
    transition: transform 0.2s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}
