.popup {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 999;
  width: 400px;        
  max-width: 90%;      
}

.popup img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}

 
@media (max-width: 600px) {
  .popup {
    width: 90%;         
    padding: 15px;
    top: 60%;
  }

  .popup img {
    height: auto;       
  }
}
 
@media (min-width: 601px) and (max-width: 900px) {
  .popup {
    width: 70%;
    padding: 18px;
  }

  .popup img {
    height: auto;
  }
}

 
@media (min-width: 901px) {
  .popup {
    width: 400px;      
  }

  .popup img {
    height: 400px;     
  }
}
